<%= simple_form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :name, label: "Produce's Name", input_html:{ class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :description, placeholder: "Text ", input_html:{ class: "form-control", style: "height: 110px"} %>
  </div>

  <div class="form-group">
    <%= f.input :price %>    
  </div>
  <div class="form-group">
    <%= f.submit "Sending", class: "btn btn-primary" %>
  </div>









<% end %>
