<%= simple_form_for(@listing, :html => { :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-warning alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul style="padding-left:15px">
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- HTML Form -->
  <div class="form-group">
    <%= f.input :name, label: "Produce's Name", input_html:{ class: "form-control"} %>
  </div>
  
  <div class="form-group">
    <%= f.input :description, placeholder: "Text ", input_html:{ class: "form-control", style: "height: 140px"} %>
  </div>


  <div class="form-group">
    <%= f.input :price %>
    <%# f.input :price, input_html:{style: "width:50%"} %>    
  </div>



  <div class="form-group">
    <%# f.file_field :image %>    
    <%= f.file_field :image, class: "btn btn-default", style: "width:100%"%>
  </div>

  <div class="form-group">
    <%= f.submit "Sending", class: "btn btn-success" %>
    <%= link_to "Canel", listings_path, class: "btn btn-default" %>
  </div>

<% end %>
