<h3>This is seller page</h3>


<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail text-center">
        <%= link_to(image_tag(listing.image.url), listing_path(listing)) %> <br>
        <div class="caption">
        <h4 class="listing_name"><%= link_to listing.name, listing_path(listing)%></h4>
        <p><%= number_to_currency(listing.price) %></p>
        <p>Sold by <%= listing.user.name %></p>
        <!-- User's Actions -->
        <%# if current_user && current_user == listing.user %>
        <% if helper_check_user(current_user, listing) %>
        <p>
          <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
          <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        </p>  
        <% end %>
        </div>
    </div> <!-- thumbnail -->
    </div> <!-- col-md-3 -->
  <% end %>
</div> <!-- row -->

<% if user_signed_in? %>
  <p><%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %></p>  
<% end %>




